# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# other stuff
.idea/
cmake-build-debug/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
Testing/
cmake_install.cmake
htcpcp
htcpcp.cbp
networking/CMakeFiles/
networking/Makefile
networking/cmake_install.cmake
pots/CMakeFiles/
pots/Makefile
pots/cmake_install.cmake
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/Makefile
tests/cmake_install.cmake
tests/pots/CMakeFiles/
tests/pots/CTestTestfile.cmake
tests/pots/Makefile
tests/pots/cmake_install.cmake
tests/pots/potbrewtest
tests/pots/potcuptest

